:root {
    --primary-text-colour-dark: #000000;
    --primary-text-colour-light: #ffffff;
    --secondary-accent-colour-light: #FE5A1D;
    --secondary-accent-colour-light-hover: #ff7a4d;
    --secondary-accent-colour-dark: #FE5A1D;
    --secondary-accent-colour-dark-hover: #ff7a4d;
    --primary-font: "Segoe UI";
    --border-radius: 3rem;
    --cubic-bezier: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    --disabled-text-colour: #313131;
    interpolate-size: allow-keywords; /* Experimental Feature: functionality not obstructed in browsers other than Chrome */
}

:root::selection {
    background-color: var(--secondary-accent-colour-light);
    color: var(--primary-background-colour-dark);
}

@property --primary-background-colour-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: #293c44;
}

@property --primary-background-colour-dark-hover {
    syntax: '<color>';
    inherits: false;
    initial-value: #25363d;
}

@property --primary-background-colour-light {
    syntax: '<color>';
    inherits: false;
    initial-value: #eae0d5;
}

@property --primary-background-colour-light-hover {
    syntax: '<color>';
    inherits: false;
    initial-value: #c9bfb5;
}

@property --secondary-background-colour-dark {
    syntax: '<color>';
    inherits: false;
    initial-value: #142229;
}

@property --secondary-background-colour-light {
    syntax: '<color>';
    inherits: false;
    initial-value: #c6ac8f;
}

@property --secondary-background-colour-dark-hover {
    syntax: '<color>';
    inherits: false;
    initial-value: #1c2e36;
}

@property --secondary-background-colour-light-hover {
    syntax: '<color>';
    inherits: false;
    initial-value: #d6bc9d;
}

body {
    width: 100%;
    min-width: 325px;
}

/* Icon Font Inclusion */

@font-face {
    font-family: "MaterialSymbolsRounded";
    src: url("assets/icons/material_symbols_rounded.ttf");
}

.material-symbols-rounded {
    font-family: "MaterialSymbolsRounded";
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* Elements */

h1 {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
    margin: 0;
}

.dark h1 {
    color: var(--primary-text-colour-light);
}

h2 {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
    width: fit-content;
    margin-top: 0;
}

.dark h2 {
    color: var(--primary-text-colour-light);
}

h3 {
    color: var(--primary-text-colour-dark); 
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1.5rem;
    margin: 0;
}

.dark h3 {
    color: var(--primary-text-colour-light);
}

h4 {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
    margin: 0;
    padding: 0;
}

.dark h4 {
    color: var(--primary-text-colour-light);
}

p {
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    color: var(--primary-text-colour-dark);
    margin: 0;
}

.dark p {
    color: var(--primary-text-colour-light);
}

a {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
    text-decoration: none;
}

.dark a {
    color: var(--primary-text-colour-light);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

em {
    font-style: normal;
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    width: fit-content;
    text-decoration: none;
    list-style: none;
    margin: 0.2rem 0 0.2rem 0;
}

ul li:first-of-type {
    margin: 0 0 0.2rem 0;
}

button span {
    pointer-events: none;
}

button h3 {
    pointer-events: none;
}

button em {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
}

img::selection {
    background-color: transparent;
}

/* Styling of round buttons */

.button-round {
    width: var(--border-radius);
    height: var(--border-radius);
    border-radius: var(--border-radius);
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--primary-text-colour-dark);
    background-color: var(--secondary-accent-colour-light);
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
    user-select: none;
}

.button-round:hover{
    background-color: var(--secondary-accent-colour-light-hover);
}

.dark .button-round {
    background-color: var(--secondary-accent-colour-dark);
}

.dark .button-round:hover{
    background-color: var(--secondary-accent-colour-dark-hover);
}

.button-round span {
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(-50%);
}

.button-round em {
    margin: 0 1.5rem 0 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

.button-round img {
    height: 2rem;
    margin: 0 0 0 0.5rem;
    pointer-events: none;
}

/* Styling of transparent buttons */

.button-transparent {
    width: max-content;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: var(--primary-text-colour-dark);
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-items: end;
    gap: 0.75rem;
    user-select: none;
}

.dark .button-transparent {
    color: var(--primary-text-colour-light);
}

.button-transparent:hover {
    color: var(--secondary-accent-colour-light);
}

/* Horizontal Rule */

hr {
    border-style: solid;
    border-color: var(--primary-background-colour-light);
    border-radius: 0.5rem;
    margin: 0 auto;
    background-color: var(--primary-background-colour-light);
}

/* Body */

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-colour-light);
}

body.dark {
    background-color: var(--primary-background-colour-dark);
}

/* Header */

header {
    color: var(--primary-text-colour-dark);
    position: fixed;
    z-index: 100;
}

.dark #header-container {
    background-color: var(--secondary-background-colour-dark);
    color: var(--primary-text-colour-light);
}

#header-container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100vw;
    background-color: var(--secondary-background-colour-light);
    z-index: 51;
    position: relative;
}

/* Header Logo */

#header-logo-container {
    display: flex;
    align-items: center;
    width: 33rem;
}

#header-logo-container a {
    display: flex;
    align-items: center;
    height: 3rem;
    margin: 0 0 0 5rem;
}

#header-logo {
    height: 2.5rem;
}

/* Header Navigation */

#header-navigation-container {
    display: block;
    width: calc(100% - 66rem);
    height: 5rem;
    overflow: hidden;
}

#header-main-navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    height: 3rem;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-main-navigation div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: max-content;
}

#header-main-navigation div button {
    position: relative;
    height: 100%;
    top: 0;
    transition: top 0.1s var(--cubic-bezier);
}

#header-nav-products-btn .open-dropdown-icon, #header-nav-inspiration-btn .open-dropdown-icon {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: top 0.1s var(--cubic-bezier), visibility 0.1s;
}

#header-nav-products-btn .close-dropdown-icon, #header-nav-inspiration-btn .close-dropdown-icon {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: top 0.1s var(--cubic-bezier), visibility 0.1s;
}

#header-nav-products-btn:not(.active):hover .open-dropdown-icon, #header-nav-inspiration-btn:not(.active):hover .open-dropdown-icon {
    visibility: visible;
    top: 100%;
}


#header-nav-products-btn.active:hover .close-dropdown-icon, #header-nav-inspiration-btn.active:hover .close-dropdown-icon {
    visibility: visible;
    top: 0%;
}

#header-nav-products-btn.active, #header-nav-inspiration-btn.active {
    top: 0.5rem;
}

/* Header Account */

#header-account-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33rem;
}

#header-darkmode-btn {
    margin: 0 5rem 0 0;
}

/* Header Dropdown */

#header-dropdown-container {
    display: none;
}

#header-dropdown-container.show {
    display: flex;
    width: 100%;
    height: calc(100svh - 5rem);
    flex-direction: row;
    justify-content: center;
    backdrop-filter: blur(50px);
    position: relative;
}

.header-dropdown {
    display: none;
    height: 0;
    transition: height 0.2s var(--cubic-bezier);
}

.header-dropdown.show {
    display: flex;
    height: 500px;
    width: 70%;
    border-radius: 0 0 3rem 3rem;
    background-color: var(--secondary-background-colour-light);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.20);
    z-index: 50;
    flex-direction: column;
    position: absolute;
    align-items: center;
    transition: width 0.2s var(--cubic-bezier);
}

.dark .header-dropdown.show {
    background-color: var(--secondary-background-colour-dark);
}

.header-dropdown-hr-container {
    width: 80%;
    height: 2px;
}

.header-dropdown hr {
    width: 100%;
}

.header-dropdown-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    flex: 1;
}

.header-dropdown-item {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.header-dropdown-item:hover button {
    visibility: visible;
    right: 1rem;
    cursor: pointer;
}

.header-dropdown-content-image-container {
    position: relative;
    overflow: hidden;
    height: calc(100% - 4rem);
}

.header-dropdown-content-image-container img {
    height: 100%;
    border-radius: var(--border-radius);
    z-index: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header-dropdown-content-image-container button {
    visibility: hidden;
    position: absolute;
    bottom: 1rem;
    right: -3rem;
    z-index: 1;
    transition: right 0.1s var(--cubic-bezier), visibility 0.1s; 
}

.header-dropdown-content-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-colour-light);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 100%;
    height: 4rem;
}

.dark .header-dropdown-content-title-container {
    background-color: var(--primary-background-colour-dark);
}

.header-dropdown-content-title-container h2 {
    margin: 0;
}

#header-mobile-container {
    display: none;
}

#header-mobile-flyout-container {
    width: 325px;
    height: 100vh;
    position: absolute;
    z-index: 95;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 5rem 2rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
    top: 0;
    right: -325px;
    transition: right 0.1s var(--cubic-bezier);
    background-color: var(--secondary-background-colour-light);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#header-mobile-flyout-close-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

#header-mobile-flyout-close-btn, #header-flyout-darkmode-btn {
    margin: 0 1rem 0 0;
}

#header-mobile-flyout-container.show #header-mobile-flyout-close-btn {
    margin: 0 1rem 0 0;
    right: 0;
}

#header-mobile-flyout-hr-container  {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-mobile-flyout-hr-container hr {
    width: 40%;
}

.dark #header-mobile-flyout-container {
    background-color: var(--secondary-background-colour-dark);
}

#header-mobile-flyout-search-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-mobile-flyout-search-bar-container {
    border: none;
    box-sizing: border-box;
    height: 3rem;
    width: calc(100% - 2rem - 6px);
    margin: 0;
    border-radius: var(--border-radius);
    background-color: var(--primary-text-colour-light);
    transition: border 0.05s;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}

#header-mobile-flyout-search-bar-container span {
    margin: 0 0 0 1rem;
}

#header-mobile-flyout-search-bar {  
    border: none;
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-text-colour-dark);
    white-space: nowrap;
    height: 50%;
    padding: 0;
    margin: 0 1rem 0 0;
    flex: 1;
    background-color: var(--primary-text-colour-light);
}

#header-mobile-flyout-search-bar-container:has(input:focus) {
    border: solid 3px var(--secondary-accent-colour-light);
    outline: none; 
}

#header-mobile-flyout-search-bar:focus {
    outline: none;
}

#header-mobile-flyout-search-bar::placeholder {
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-weight: 600;
}

#header-mobile-flyout-account-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: calc(100% - 2rem);
    margin: 0 1rem 0 1rem;
    grid-area: 3 / 1 / 4 / 2;
}

#header-mobile-flyout-account-container button {
    width: 100%;
}

#header-mobile-flyout-menu-container {
    grid-area: 5 / 1 / 6 / 2;
    overflow: scroll;
    display: none;
    flex-direction: column;
    margin: 1rem 0 0 0;
    gap: 2rem;
}

.header-mobile-flyout-menu-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main section */

main {
    display: block;
    width: 100%;
    min-height: calc(100vh - 8rem);
    height: 100%;
    margin: 0;
    padding: 5rem 0 0 0;
    z-index: 0;
}

#main-landing-page-container {
    height: calc(100svh - 8rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0 0 0;
}

#main-landing-page-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

#main-landing-page-image-container {
    height: calc(100svh - 15rem);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    width: 80%;
    position: relative;
    z-index: 1;
}

#main-landing-page-image-container img {
    width: 100%;
}

#main-landing-page-image-container img:first-of-type {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#main-landing-page-image-container img:last-of-type {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#main-landing-page-information-container {
    height: calc(100svh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#main-landing-page-information-title-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 80%;
}

#main-landing-page-information-description-container {
    width: 80%;
}

#main-landing-page-information-colour-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 80%;
}

.colour-selector {
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    width: 3rem;
    transition: width 0.1s var(--cubic-bezier);
    overflow: hidden;
    background-color: var(--secondary-background-colour-light);
}

.colour-selector:hover {
    background-color: var(--secondary-background-colour-light-hover);
}

.colour-selector.selected {
    width: auto;
}

.dark .colour-selector {
    background-color: var(--secondary-background-colour-dark);
    color: var(--primary-text-colour-light);
}

.dark .colour-selector:hover {
    background-color: var(--secondary-background-colour-dark-hover);
}

#main-landing-page-information-shopping-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    width: 80%;
    flex-wrap: wrap;
    position: relative;
}

#main-landing-page-information-shop-now-btn {
    width: fit-content;
    gap: 0.5rem;
}

#main-landing-page-information-shop-now-btn span {
    position: relative;
    transform: translateX(0%);
    margin: 0 0 0 1rem;
}

#main-landing-page-information-added-to-cart-alert-container, #main-landing-page-information-set-amount-alert-container {
    width: fit-content;
    visibility: hidden;
    position: absolute;
    top: 3.8rem;
    transition: top 0.1s, visibility 0.1s;
}

#main-landing-page-information-added-to-cart-alert-container.show, #main-landing-page-information-set-amount-alert-container.show {
    visibility: visible;
    /* width: auto; */
    top: 4rem;
}

#main-landing-page-information-set-amount-alert-container {
    left: 12.8rem;
}

.popup-alert-text-container {
    width: fit-content;
    background-color: var(--secondary-background-colour-light);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: var(--border-radius);
    border: solid 1px var(--primary-text-colour-light);
    position: relative;
}

.dark .popup-alert-text-container {
    background-color: var(--secondary-background-colour-dark);
    border: solid 1px var(--primary-text-colour-light);
}

#main-landing-page-information-added-to-cart-alert p {
    user-select: none;
    text-wrap: nowrap;
}

.popup-alert-triangle {
    background-color: var(--secondary-background-colour-light);
    border: solid 1px var(--primary-text-colour-light);
    border-bottom: none;
    border-right: none;
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 0;
    left: 50%;
    z-index: 10;
}

#main-landing-page-information-added-to-cart-alert-container .popup-alert-triangle {
    left: 23%;
}

.dark .popup-alert-triangle {
    background-color: var(--secondary-background-colour-dark);
}

.popup-alert-text {
    position: relative;
    z-index: 11;
}

#main-landing-page-information-amount-btn {
    width: fit-content;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: row;
    background-color: var(--secondary-accent-colour-light);
    border-radius: var(--border-radius);
    padding: 0 0.5rem 0 0.5rem;
    user-select: none;
}

#main-landing-page-information-amount-btn button {
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius);
    border: none;
    background-color: transparent;
    outline: none; 
    font: var(--primary-font), Arial, sans-serif !important;
    padding: 0;
}

#main-landing-page-information-amount-btn button.disabled {
    pointer-events: none;
}

#main-landing-page-information-amount-btn button.disabled:hover {
    cursor: default;
    background-color: var(--secondary-accent-colour-light);
    border: none;
}

#main-landing-page-information-amount-btn button:active {
    transform: scale(0.95);
}

#main-landing-page-information-amount-btn button.disabled span {
    cursor: default;
    color: var(--disabled-text-colour);
}

#main-landing-page-information-amount-btn button span {
    display: flex;
    justify-content: center;
    color: var(--primary-text-colour-dark);
}

#main-landing-page-information-amount-btn button:hover {
    cursor: pointer;
    background-color: var(--secondary-accent-colour-light-hover);
    border: solid var(--primary-text-colour-light) 1.5px;
}

#main-landing-page-information-amount-btn input {
    height: 60%;
    width: 2rem;
    background-color: var(--secondary-accent-colour-light-hover);
    color: var(--primary-text-colour-dark);
    border-radius: 0.3rem;
    outline: none;
    border: none;
    text-align: center;
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-weight: 600;
    font-size: 1rem;
}

#main-landing-page-information-amount-btn input::-webkit-inner-spin-button, #main-landing-page-information-amount-btn input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#main-landing-page-information-amount-btn input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#main-landing-page-information-list-btn span {
    font-variation-settings: 
        "FILL" 0;
    transition: font-variation-settings 0.1s var(--cubic-bezier);
    user-select: none;
}

#main-landing-page-information-list-btn.clicked span {
    font-variation-settings: 
        "FILL" 1;
}

#main-landing-page-information-price-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#main-landing-page-price-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
    gap: 0.5rem;
}

#main-landing-page-price-container h3 {
    font-size: 2rem;
}

#main-landing-page-price-container h4 {
    font-size: 1.5rem;
    bottom: 0.1rem;
}

#main-landing-page-information-accordion-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

.accordion-element {
    margin: 1rem 0 1rem 0;
}

.accordion-element-title {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.1s var(--cubic-bezier), padding 0.1s var(--cubic-bezier), border-radius 0.1s var(--cubic-bezier);
    padding: 0;
    border-radius: var(--border-radius);
    background-color: var(--secondary-background-colour-light);
    padding: 0 2rem 0 2rem;
}

.dark .accordion-element-title {
    background-color: var(--secondary-background-colour-dark);
}

.accordion-element-title:hover {
    border-radius: var(--border-radius) var(--border-radius) 0.5rem 0.5rem;
}

.accordion-element:has(.accordion-element-content.show) .accordion-element-title {
    border-radius: var(--border-radius) var(--border-radius) 0.5rem 0.5rem;
    padding: 0 2rem 0 2rem;
    background-color: var(--secondary-background-colour-light);
}

.accordion-element:has(.accordion-element-content.show) .accordion-element-title {
    background-color: var(--secondary-background-colour-light);
}

.dark .accordion-element:has(.accordion-element-content.show) .accordion-element-title {
    background-color: var(--secondary-background-colour-dark);
}

.accordion-element-title span {
    transition: transform 0.1s var(--cubic-bezier);
}

.accordion-element:has(.accordion-element-content.show) .accordion-element-title span {
    transform: rotate(180deg);
}

.accordion-element-content {
    visibility: hidden;
    height: 0;
    transition: height 0.2s, visibility 0.2s, margin;
    background-color: var(--secondary-background-colour-light);
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0 2rem 0 2rem;
}

.dark .accordion-element-content {
    background-color: var(--secondary-background-colour-dark);
}

.accordion-element-content.show {
    visibility: visible;
    height: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0.5rem 0 0.5rem 0;
}

.accordion-element-content div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    width: 100%;
}

.accordion-element-content a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: var(--primary-text-colour-dark);
    width: 100%;
}

.dark .accordion-element-content a {
    color: var(--primary-text-colour-light);
}

.accordion-element-content hr {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

#main-container section {
    width: 100%;
    height: fit-content;
    padding: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container h2 {
    margin: 0 0 3rem 0;
    text-align: center;
}

#main-rezensionen-section {
    background-color: var(--secondary-background-colour-light);
}

.dark #main-rezensionen-section {
    background-color: var(--secondary-background-colour-dark);
}

#main-rezensionen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    width: 80%;
}

.rezension-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

.rezension-buyer-info-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.rezension-buyer-info-container img {
    height: 3rem;
    border-radius: 3rem;
}

.rezension-buyer-info-name-container {
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-between;
}

.rezension-buyer-info-name-container h4 {
    font-size: 1rem;
}

.rezension-buyer-info-name-container p {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.rezension-buyer-info-name-container p span {
    margin: 0 0.35rem 0 0;
    font-size: inherit;
}

.rezension-star-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    user-select: none;
}

.rezension-star-rating-container span {
    font-size: 1.75rem;
    color: var(--primary-text-colour-dark);
    user-select: none;
}

.dark .rezension-star-rating-container span {
    color: var(--primary-text-colour-light);
}

.rezension-star-rating-container span.full {
    font-variation-settings: 
        "FILL" 1;
    color: var(--secondary-accent-colour-light);
}

.rezension-text-container {
    min-height: 3rem;
    background-color: var(--primary-background-colour-light);
    border-radius: 0.5rem;
    padding: 1rem;
}

.dark .rezension-text-container {
    background-color: var(--primary-background-colour-dark);
}

.rezension-information-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.rezension-information-container-voted-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--primary-background-colour-light);
    border-radius: var(--border-radius);
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.dark .rezension-information-container-voted-container {
    background-color: var(--primary-background-colour-dark);
}

.rezension-information-container-voted-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    color: var(--primary-text-colour-dark);
}

.dark .rezension-information-container-voted-container div {
    color: var(--primary-text-colour-light);
}

#main-rezensionen-more-container {
    margin: 3rem 0 0 0;
}

#main-rezensionen-more-container button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#main-works-with-content-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#main-works-with-content-container img {
    height: 50px;
}

#main-works-with-content-container img:first-of-type {
    height: calc(50px - 1rem - 2px);
    background-color: var(--primary-text-colour-light);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px var(--primary-text-colour-dark);
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--secondary-background-colour-light);
    z-index: 90;
    position: relative;
}

.dark footer {
    background-color: var(--secondary-background-colour-dark);
}

/* Footer Made In Germany Banner */

#footer-made-in-germany {
    width: 100%;
    height: 3rem;
    background-color: var(--secondary-accent-colour-light);
    color: var(--primary-text-colour-dark);
    user-select: none;
    overflow: hidden;
}

#footer-made-in-germany-scroll-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.footer-made-in-germany-text {
    cursor: default;
    transition: transform 1s linear;
}

.dark .footer-made-in-germany-text {
    color: var(--secondary-background-colour-dark);
}

/* Footer Container */

#footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem 17rem 5rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
    position: relative;
}

/* Footer Back Top */

#footer-back-top-container {
    display: flex;
    justify-content: flex-end;
    grid-area: 1 / 1 / 2 / 6;
    margin: 5rem 5rem 0 0;
}

#footer-back-top {
    margin: 0;
    display: flex;
    align-items: center;
    transition: width 0.1s;
}

#footer-back-top:hover {
    width: 10rem;
}

#footer-back-top em {
    display: none;
}

#footer-back-top:hover em {
    display: block;
}

/* Footer Content */

#footer-content-container {
    width: 70%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    grid-area: 2 / 1 / 3 / 6;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5rem 5rem 5rem;
    grid-column-gap: 0;
    grid-row-gap: 1rem;
}

#footer-nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    grid-area: 1 / 1 / 4 / 2;
}

#footer-content-products {
    grid-area: 1 / 1 / 2 / 2;
}

#footer-content-help {
    grid-area: 1 / 2 / 2 / 3; 
}

#footer-content-company {
    grid-area: 1 / 3 / 2 / 4;
}

#footer-nav-container div {
    display: flex;
    flex-direction: column;
}

/* Footer Logo */

#footer-logo-container {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: end;
    grid-area: 1 / 2 / 2 / 3;
}

#footer-logo-container img {
    height: 5rem;
}

/* Footer Payment Methods */

#footer-payments-container {
    display: flex;
    margin: 0;
    align-items: end;
    justify-content: end;
    grid-area: 2 / 2 / 3 / 3;
    gap: 1rem;
}

#footer-payments-container img {
    width: 4rem;
}

/* Footer Social Links */

#footer-social-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: 3 / 2 / 4 / 3;
    gap: 1rem;
}


/* Footer Legal Links */

#footer-legal-container {
    width: 100%;
    grid-area: 3 / 1 / 4 / 6;
    position: relative;
}

#footer-legal-flex-container {
    width: 70%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-legal-container hr {
    width: 70%;
}

#footer-legal-copyright-container {
    height: 100%;
    display: flex;
    align-items: center;
}

#footer-legal-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 2000px) {
    #footer-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10rem 30rem 5rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    #footer-content-container {
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 5rem 5rem 5rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    #footer-nav-container {
        grid-area: 1 / 1 / 2 / 2;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #footer-logo-container {
        justify-content: flex-start;
        grid-area: 2 / 1 / 3 / 2;
    }

    #footer-payments-container {
        justify-content: flex-start;
        grid-area: 3 / 1 / 4 / 2;
    }

    #footer-social-container {
        justify-content: flex-start;
        grid-area: 4 / 1 / 5 / 2;
    }
}

@media screen and (max-width: 1700px) {
    #header-logo-container {
        width: 25rem;
    }
    
    #header-navigation-container {
        width: calc(100% - 35rem);
    }

    #header-main-navigation {
        justify-content: flex-end;
    }
    
    #header-account-container {
        display: none;
    }

    #header-mobile-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #header-mobile-logo-container {
        display: none;
    }

    #header-mobile-menu-container {
        display: flex;
        width: 10rem;
        justify-content: flex-end;
    }

    #header-mobile-menu-btn {
        margin: 0 5rem 0 0;
    }

    #header-mobile-flyout-container.show {
        right: 0;
    }
}

@media screen and (max-width: 1500px) {
    .header-dropdown.show {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    #header-logo-container {
        display: none;
    }

    #header-navigation-container {
        display: none;
    }

    #header-mobile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #header-mobile-logo-container {
        display: flex;
        width: 25rem;
        align-items: center;
    }

    #header-mobile-logo-container a {
        display: flex;
        align-items: center;
        height: 3rem;
        margin: 0 0 0 5rem;
    }

    #header-mobile-logo {
        height: 2.5rem;
    }

    #header-mobile-menu-container {
        width: calc(100% - 25rem);
    }

    #header-mobile-flyout-menu-container {
        display: flex;
    }
    
    #footer-container {
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 45rem 10rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    #footer-content-container {
        grid-template-rows: 30rem 5rem 5rem 5rem;
    }

    #footer-nav-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #footer-content-products {
        grid-area: 1 / 1 / 2 / 2;
    }

    #footer-content-help {
        grid-area: 1 / 2 / 2 / 3;
    }

    #footer-content-company {
        grid-area: 2 / 1 / 3 / 3;
    }

    #footer-legal-flex-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    #footer-legal-copyright-container {
        height: 5rem;
    }

    #footer-legal-links-container {
        width: 100%;
        height: 5rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: normal;
    }
}

@media screen and (max-width: 850px) {   
    #main-landing-page-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        height: auto;
        margin: 5rem 0 5rem 0;
    }

    #main-landing-page-gallery-container {
        flex-direction: row;
        width: 90svw;
        justify-content: left;
        left: 10%;
    }

    #main-landing-page-image-container {
        height: 15rem;
        width: inherit;
        overflow-y: hidden;
        display: inline-flex;
        gap: 0.5rem;
        scroll-snap-type: x proximity;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    #main-landing-page-image-container img {
        height: inherit;
        width: auto;
        border-radius: 0.5rem;
    }

    #main-landing-page-image-container img:first-of-type {
        border-radius: 0 0.5rem 0.5rem 0;
        scroll-snap-align: start;
        margin: 0 0 0 0.5rem;
    }

    #main-landing-page-image-container img:last-of-type {
        border-radius: 0.5rem 0 0 0.5rem;
        scroll-snap-align: end;
        margin: 0 1.5rem 0 0;
    }

    #main-landing-page-information-container {
        height: fit-content;
    }

    #main-landing-page-information-colour-container {
        flex-wrap: wrap;
    }
    
    #footer-container {
        padding: 0 0 5rem 0;
    }

    #footer-logo-container img {
        max-width: 100%;
    }
}

@media screen and (max-width: 670px) {
    #footer-container {
        grid-template-rows: 10rem 65rem 10rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
        height: 85rem;
    }

    #footer-content-container {
        height: 65rem;
        grid-template-rows: 45rem 7.5rem 7.5rem 5rem;
    }

    #footer-nav-container {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        height: 45rem;
    }

    #footer-nav-container div {
        height: 15rem;
    }

    #footer-payments-container {
        height: 7.5rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }
}

@media screen and (max-width: 560px) {
    #header-mobile-logo-container a {
        margin: 0 0 0 1rem;
    }

    #header-mobile-logo {
        max-width: 70%;
    }

    #header-mobile-menu-container {
        width: 5rem;
    }

    #header-mobile-menu-btn {
        margin: 0 1rem 0 1rem;
    }

    #header-mobile-flyout-close-btn {
        animation: none;
    }
}

@media screen and (max-width: 520px) {
    #header-mobile-flyout-container {
        grid-template-rows: 5rem 1fr 2rem 5rem 5rem;
        height: 100vh;
        width: 100%;
        right: -100%;
    }
    
    #header-mobile-flyout-menu-container {
        grid-area: 2 / 1 / 3 / 2;
        justify-content: flex-end;
        padding: 0 0 1rem;
        margin: 0 0 1rem 0;
        overflow-y: scroll;
    }

    #header-mobile-flyout-hr-container {
        grid-area: 3 / 1 / 4 / 2;
    }

    #header-mobile-flyout-account-container {
        grid-area: 4 / 1 / 5 / 2; 
    }

    #header-mobile-flyout-search-container {
        grid-area: 5 / 1 / 6 / 2;
    }
    
    #footer-container {
        grid-template-rows: 10rem 67.5rem 10rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
        height: 87.5rem;
    }

    #footer-content-container {
        height: 67.5rem;
        grid-template-rows: 45rem 7.5rem 7.5rem 7.5rem;
    }

    #footer-social-container {
        height: 5rem;
        padding: 0 0 2.5rem 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
}

@media screen and (max-width: 420px) {
    #footer-container {
        grid-template-rows: 10rem 67.5rem 12.5rem;
        height: 90rem;
    }

    #footer-legal-flex-container {
        height: 12.5rem;
        gap: 0;
    }

    #footer-legal-links-container {
        height: 7.5rem;
    }
}

@media screen and (max-width: 354px) {
    #footer-container {
        grid-template-rows: 10rem 67.5rem 15rem;
        height: 92.5rem;
    }

    #footer-legal-flex-container {
        height: 15rem;
        gap: 0;
    }

    #footer-legal-links-container {
        height: 10rem;
    }
}