:root {
    --primary-background-colour-dark: #22333b;
    --primary-background-colour-light: #eae0d5;
    --secondary-background-colour-dark: #142229;
    --secondary-background-colour-light: #c6ac8f;
    --primary-text-colour-dark: #000000;
    --primary-text-colour-light: #ffffff;
    --secondary-text-colour-dark: ;
    --secondary-text-colour-light: ;
    --primary-accent-colour-dark: ;
    --primary-accent-colour-light: ;
    --secondary-accent-colour-dark: ;
    --secondary-accent-colour-light: #FE5A1D;
    --secondary-accent-colour-light-hover: #ff7a4d;
    --secondary-accent-colour-dark: #FE5A1D;
    --secondary-accent-colour-dark-hover: #ff7a4d;
    --primary-font: "Segoe UI";
    --border-radius: 3rem;
    --width-main-column: calc(100% - 50rem);
}

/* Elements */

h1 {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
}

.dark h1 {
    color: var(--primary-text-colour-light);
}

h2 {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
}

.dark h2 {
    color: var(--primary-text-colour-light);
}

h4 {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
    margin: auto 0;
    padding: 0;
}

.dark h4 {
    color: var(--primary-text-colour-light);
}

p {
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    color: var(--primary-text-colour-dark);
}

.dark p {
    color: var(--primary-text-colour-light);
}

a {
    font-family: var(--primary-font), Arial, sans-serif !important;
    color: var(--primary-text-colour-dark);
    text-decoration: none;
}

.dark a {
    color: var(--primary-text-colour-light);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

em {
    font-style: normal;
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    width: fit-content;
    text-decoration: none;
    list-style: none;
    margin: 0.2rem 0 0.2rem 0;
}

ul li:first-of-type {
    margin: 0 0 0.2rem 0;
}

button span {
    pointer-events: none;
}

button em {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
}

/* Styling of round buttons */

.button-round {
    width: var(--border-radius);
    height: var(--border-radius);
    border-radius: var(--border-radius);
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--primary-text-colour-dark);
    background-color: var(--secondary-accent-colour-light);
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
}

.button-round:hover{
    background-color: var(--secondary-accent-colour-light-hover);
}

.dark .button-round {
    background-color: var(--secondary-accent-colour-dark);
}

.dark .button-round:hover{
    background-color: var(--secondary-accent-colour-dark-hover);
}

.button-round span {
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(-50%);
}

/* Styling of transparent buttons */

.button-transparent {
    width: fit-content;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: var(--primary-text-colour-dark);
    font-family: var(--primary-font), Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-items: end;
}

.dark .button-transparent {
    color: var(--primary-text-colour-light);
}

.button-transparent:hover {
    color: var(--secondary-accent-colour-light);
}

/* Horizontal Rule */

hr {
    border-style: solid;
    border-color: var(--primary-background-colour-light);
    border-radius: 0.5rem;
    margin: 0 auto;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-colour-light);
}

body.dark {
    background-color: var(--primary-background-colour-dark);
}

/* Header */

header {
    background-color: var(--secondary-background-colour-light);
    color: var(--primary-text-colour-dark);
    position: fixed;
    z-index: 100;
}

.dark header {
    background-color: var(--secondary-background-colour-dark);
    color: var(--primary-text-colour-light);
}

#header-container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100vw;
}

/* Header Logo */

#header-logo-container {
    width: 25rem;
}

#header-logo {
    margin: 0 0 0 5rem;
    height: 2.5rem;
}

/* Header Navigation */

#header-navigation-container {
    display: flex;
    flex-grow: 1;
    height: fit-content;
}

#header-main-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

/* Header Account */

#header-account-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 5rem 0 0;
    width: 25rem;
}

/* Header Dropdown */

#header-dropdown-container {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    position: absolute;
}

#header-dropdown-container.show {
    display: flex;
}

#header-dropdown-container.blur {
    backdrop-filter: blur(15px);
    transition: backdrop-filter 0.1s;
}

#header-dropdown-container::after {
    content: url("assets/bitmap/noise.jpeg");
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 5s;
}

.header-dropdown {
    display: none;
    height: 0;
    width: var(--width-main-column);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--secondary-background-colour-light);
    z-index: 50;
}

.dark .header-dropdown {
    background-color: var(--secondary-background-colour-dark);
}

.header-dropdown.show {
    display: block;
    height: fit-content;
    min-height: 15rem;
    animation: changeHeight forwards 1s;
    padding: 0 0 var(--border-radius) 0;
}

@keyframes changeHeight {
    0% {
        height: 0;
    } 100% {
        height: 15rem;
    }
}

.header-dropdown hr {
    width: 40%;
    animation: changeHrWidth forwards 0.2s;
    z-index: 51;
}

@keyframes changeHrWidth {
    0% {
        width: 0;
    } 100% {
        width: 80%;
    }
}

.header-dropdown-content-container {
    width: 80%;
    height: inherit;
    margin: var(--border-radius) auto 0 auto;
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.header-dropdown-item {
    display: flex;
    overflow: hidden;
    height: fit-content;
}

.header-dropdown-item a {
    width: inherit;
    height: fit-content;
    margin: 0 0 1rem 0;
}

.header-dropdown-item img {
    width: calc(100% - 2rem);
    height: 80%;
    margin: auto 0 auto 0;
    border-radius: var(--border-radius);
}

/* Main section */

main {
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 3rem);
    margin: 0;
    top: 5rem;
    position: relative;
    z-index: 0;
}

#main-container {
    max-width: calc(100% - 50rem);
    margin: 0 auto;
    display: grid;
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--secondary-background-colour-light);
    z-index: 100;
}

.dark footer {
    background-color: var(--secondary-background-colour-dark);
}

/* Footer Made In Germany Banner */

#footer-made-in-germany {
    width: 100%;
    height: 3rem;
    background-color: var(--secondary-accent-colour-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Footer Container */

#footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem 10rem 5rem 5rem 5rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/* Footer Back Top */

#footer-back-top-container {
    display: flex;
    justify-content: flex-end;
    grid-area: 1 / 1 / 2 / 6;
    margin: 5rem 5rem 0 0;
}

#footer-back-top {
    margin: 0;
    display: flex;
    align-items: center;
    transition: width 0.1s;
}

#footer-back-top em {
    margin: 0 1.5rem 0 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

#footer-back-top:hover {
    width: 10rem;
}

#footer-back-top em {
    display: none;
}

#footer-back-top:hover em {
    display: block;
}

/* Footer Content */

#footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 25rem;
    grid-area: 2 / 1 / 5 / 4;
}

#footer-content-container > div {
    width: 100%;
    height: 100%;
}

/* Footer Logo */

#footer-logo-container {
    display: flex;
    margin: 0 25rem 0 0;
    align-items: center;
    justify-content: end;
    grid-area: 2 / 4 / 3 / 6;
}

#footer-logo-container img {
    width: 35rem;
}

/* Footer Payment Methods */

#footer-payments-container {
    display: flex;
    margin: 0 25rem 0 0;
    align-items: center;
    justify-content: end;
    grid-area: 3 / 4 / 4 / 6;
    gap: 1rem;
}

#footer-payments-container img {
    width: 4rem;
    margin: auto 0 0 0;
}

#footer-payments-container img:first-of-type {
    margin: auto 0 0 0;
}

/* Footer Social Links */

#footer-social-container {
    margin: 0 25rem 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: 4 / 4 / 5 / 6;
    gap: 1rem;
}

#footer-social-container a {
    margin: auto 0 auto 0;
}

#footer-social-container a:first-of-type {
    margin: auto 0 auto 0;
}

/* Footer Legal Links */

#footer-legal-container {
    width: 100%;
    grid-area: 5 / 1 / 6 / 6;
}

#footer-legal-flex-container {
    max-width: calc(100% - 50rem);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-legal-container hr {
    max-width: calc(100% - 50rem);
}

#footer-legal-copyright-container {
    height: 100%;
    display: flex;
    align-items: center;
}

#footer-legal-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#footer-legal-links-container a {
    margin: auto 0 auto 0;
}

#footer-legal-links-container a:first-of-type {
    margin: auto 0 auto 0;
}

#footer-legal-copyright-container h4 {
    margin: auto 0 auto 0;
}

@media screen and (max-width: 2200px) {
    #footer-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10rem 10rem 10rem 5rem 5rem 5rem 5rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    #footer-logo-container {
        grid-area: 1 / 1 / 2 / 6;
    }

    #footer-content-container {
        grid-area: 2 / 1 / 4 / 6;
    }

    #footer-logo-container {
        grid-area: 4 / 1 / 5 / 6;
    }

    #footer-payments-container {
        grid-area: 5 / 1 / 6 / 6;
    }

    #footer-social-container {
        grid-area: 6 / 1 / 7 / 6;
    }

    #footer-legal-container {
        grid-area: 7 / 1 / 8 / 6;
    }
}

@media screen and (max-width: 1500px) {
    #footer-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10rem 10rem 10rem 5rem 5rem 5rem 10rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    #footer-legal-flex-container { 
    }
}